body {
  background: #f5f5f5;
  text-align: center;
}

.container {
  position: relative;
  width: 600px;
  margin: auto;
}

.container img {
  width: 100%;
}

/* 範囲指定エリア */
.person {
  position: absolute;
}

.person.edit-mode {
  border: 2px dashed red;
  background: rgba(255, 0, 0, 0.1);
}

.tooltip {
  pointer-events: none;
  position: absolute;

  bottom: 150%; /*メッセージの表示位置*/
  left: 50%;

  transform: translate(-50%, 5px); /* ←ここが重要 */

  background: #ffcdf2;
  color: black;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  opacity: 0;
  transition: 0.3s;

  white-space: normal;
  width: 220px;
  word-break: break-word;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.person:hover .tooltip {
  opacity: 1;
  transform: translate(-50%, 0); /* ←ここもセット */
}

/* 選択ボックス */
.selection-box {
  position: absolute;
  border: 2px dashed red;
  background: rgba(255,0,0,0.1);
}